@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lato:wght@300&family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.navbar {
  height: 80px;
  letter-spacing: 0.05em;
}

.navbar img {
  width: 150px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
}

.flex ul {
  display: flex;
}

.flex a {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 0 15px;
  line-height: 15.23px;
}

.flex ul .signup  {
  background-color: #ff5c00;
  color: white;
  padding: 8px 14px;
  border-radius: 4px;
}

/* SECOND NAVBAR */
.nav2 {
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.nav2 ul {
  display: flex;
  margin: auto 10px;
  padding: 15px 10px;
}

.nav2 a {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin: 10px 20px;
  padding: 0 10px;
  letter-spacing: 0.1em;
}

/* EXPERIENCE 1 */
.experience1 .grid {
  display: grid;
  grid-template-columns: 3fr 4fr;
  align-items: center;
  padding-top: 30px;
}

.experience1 .container {
  max-width: 1350px;
}

.experience1 img {
  padding: 0 10px;
}

.experience1 h1 {
  font-size: 48px;
  font-family: 'inter';
  font-weight: bold;
  line-height: 60px;
}

.experience1 p {
  font-size: 18px;
  font-family: 'inter';
  color: #494949;
  line-height: 31px;
}

/* EXPERIENCE 2 */
.experience2 {
  background-color: #222222;
  color: white;
  overflow-y: hidden;
}

.experience2 .container {
  max-width: 1350px;
}

.experience2 .grid {
  display: grid;
  grid-template-columns: 4fr 3fr;
  align-items: center;
  gap: 70px;
  margin: 20px 0;
  padding: 20px;
}

.experience2 h1 {
  font-size: 32px;
  font-family: 'inter';
  font-weight: bolder;
}

.experience2 h2 {
  font-size: 16px;
  font-weight: 500;
  font-family: 'inter';
  letter-spacing: 0.2em;
  line-height: 32px;
}

.experience2 .grid h3 {
  margin: 20px 0;
  font-size: 13px;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 7px;
  border-radius: 4px;
}

.experience2 img {
  border-radius: 100%;
  padding: 0 20px;
}

.experience2 p {
  font-size: 18px;
  font-family: 'inter';
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02em;
  padding: 10px 0;
}

.experience2 .text {
  padding: 0 30px;
}

/* CUSTOMER */
.customer {
  font-family: 'inter';
}

.customer .container {
  max-width: 1350px;
}

.customer .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  padding: 90px 90px;
}

.customer img {
  width: 200px;
  padding: 10px 0;
}

.customer p {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 150%;
  padding: 15px 0;
  font-weight: bolder;
}

.customer .grid h4 {
  font-size: 14px;
  margin: 20px 0;
}

.customer .grid span#cus {
  color: #049a01;
  background-color: #f0ffee;
  font-size: 12px;
  padding: 10px 15px;
  border-radius: 4px;
}

.customer .grid span#cst {
  color: #0d019a;
  background-color: #eef8ff;
  font-size: 12px;
  padding: 10px 15px;
  border-radius: 4px;
}

/* EXPERIENCE 3 */
.experience3 {
  background-color: #fff8f5;
}

.experience3 .container {
  max-width: 1350px;
}

.experience3 .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 0 90px;
  gap: 100px;
}

.experience3 .grid h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.01em;
  padding: 10px 0;
}

.experience3 .grid p {
  letter-spacing: 0.02em;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  padding: 30px 0;
}

.experience3 .grid h2 {
  color: #ff5c00;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.2em;
}

.experience3 .grid h3 {
  display: inline-block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #ff5c00;
  border: 1px solid rgba(255, 92, 0, 0.4);
  border-radius: 4px;
  padding: 5px;
}

.experience3 img {
  padding-top: 80px;
}

/* VENDOR */
.vendor .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 150px 90px;
  gap: 70px;
}

.vendor .container {
  max-width: 1350px;
}

.vendor img {
  border-radius: 100%;
  width: 200px;
  padding: 20px 0;
}

.vendor h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
}

.vendor h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  display: inline-block;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #049A01;
  background: #F0FFEE;
  border-radius: 4px;
  padding: 5px;
  margin: 5px 0;
}

.vendor p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #474747;
  padding: 15px 0;
}

/* MAGAZINE */
.magazine {
  background-color: #25201d;
  color: white;
}

.magazine img {
  position: relative;
  top: -70px;
}

.magazine .flex {
  display: flex;
  flex-direction: row-reverse;
  gap: 150px;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}

.magazine h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.03em;
}

.magazine p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  padding: 20px 0;
}

.magazine .flex input {
  padding: 15px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background: transparent;
  border: none;
}

.magazine .flex input:focus {
  outline: none;
}

.magazine .input {
  display: flex;
  gap: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 0;
  border-radius: 4px;
}

.magazine .input .btn {
  padding: 0 20px;
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bolder;
  font-size: 13px;
  line-height: 15px;
  border: none;
  background-color: white;
  color: black;
}

.btn0::placeholder {
  color: white;
}

/* FOOTER */
footer {
  background-color: #25201d;
  color: white;
  overflow-y: hidden;
  padding: 20px 0;
}

footer .container {
  max-width: 1350px;
}

footer .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 0 80px;
}

footer ul {
  flex-direction: column;
  padding: 20px 0;
}

footer .grid h2 {
  padding: 20px 0;
}

footer .ref a {
  color: white;
}

footer li {
  padding: 10px 0;
}

footer .ref1 a {
  color: white;
}


